*zip
*tar*
*gz
source_data/mushrooms/*
source_data/Mushrooms/*
*jpg
Rplots.pdf
.rstudio
.local
.config
derived_data/
.bash_history
*Rplot*
.gitconfig
*pdf
*tex
*.json
.python_history
*.pyc
assets/*
figures/*
